main {
  font-family: overpass, sans-serif;
}

.hero {
  min-height: 60vh;
  border-bottom-left-radius: 80px;
  background:
    url("../images/bg-pattern-intro-desktop.svg "), var(--gradient-orange-red);
  background-repeat: no-repeat;
  background-position: left;
  background-size: clamp(120%, 150vw, 160%), cover;
}

.header {
  padding: 2rem 1.5rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav li:nth-child(1) {
  animation: header 0.5s;
}

.header-nav li:nth-child(2) {
  animation: header 0.75s;
}

.header-nav li:nth-child(3) {
  animation: header 1s;
}

ul {
  display: flex;
  gap: 2rem;
}

.logo {
  margin-right: 100px;
  animation: header 0.25s;
}

.header-nav button {
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-nav button:hover {
  text-decoration: underline;
}

.header-nav li {
  position: relative;
}

.header-nav li::after {
  content: none;
}

.button-nav {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 150px;
  z-index: 10;
  text-align: left;
}

.header-nav li .button-nav.active {
  display: block;
}

.button-nav ul {
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.button-nav li {
  padding: 0.5rem 0;
  color: var(--blue-900);
  cursor: pointer;
  font-weight: 500;
  text-transform: none;
}

.button-nav li:hover {
  font-weight: 800;
}

.login-btn {
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
  animation: header 0.75s;
}

.signup-btn {
  background: white;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  color: var(--red-500);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  animation: header 0.5s;
}

.signup-btn:hover {
  background: var(--red-400);
  color: white;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hero 0.5s;
}

.hero-text {
  color: white;
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin: 20px 0 15px 0;
  font-weight: 700;
}

.hero-text p {
  font-size: 1.3rem;
  margin-bottom: 30px;
  font-weight: 500;
}

.hero-buttons {
  margin-top: 40px;
}

.hero-buttons .start-btn {
  background: white;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  color: var(--red-500);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.hero-buttons .start-btn:hover {
  background: var(--red-400);
  color: white;
}

.hero-buttons .learn-btn {
  background: none;
  border: 2px solid white;
  border-radius: 30px;
  padding: 13px 28px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.5s;
}

.hero-buttons .learn-btn:hover {
  background: white;
  color: var(--red-500);
}

.introduction {
  min-height: 100vh;
}

.intro-title {
  text-align: center;
  margin: 80px 0 -2rem 0;
  color: var(--blue-900);
  font-size: 2.5rem;
}

.features {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  max-width: 1200px;
  gap: 2rem;
}

.feature-text {
  max-width: 550px;
  font-size: 1.1rem;
  margin-bottom: 3rem;
  flex: 1;
}

.features-image {
  max-width: 500px;
  flex: 1.3;
}

.feature-text h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--blue-900);
}

.feature-text p {
  color: var(--gray-600);
  line-height: 1.6;
  font-size: 1.2rem;
}

.features-image img {
  height: auto;
}

.feature-text,
.features-image {
  min-width: 300px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .header-nav ul,
  .header-buttons {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    animation: header 0.25s;
  }

  .mobile-menu-icon button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
  }

  .mobile-menu.active {
    display: block;
  }

  .mobile-menu ul {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    animation: header 1s;
  }

  .mobile-menu a {
    display: none;
  }

  .mobile-menu button {
    background: none;
    border: none;
    color: var(--blue-900);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .mobile-menu .header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .mobile-menu .login-btn {
    color: var(--blue-900);
    font-weight: 600;
  }

  .mobile-menu .signup-btn {
    background: var(--gradient-orange-red);
    color: white;
    width: 100%;
  }

  .button-mobile-nav {
    background: var(--weak-gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 10px;
    text-align: center;
    box-shadow: inset 0px 0px 97px -34px rgba(0, 0, 0, 0.05);
    display: none;
  }

  .button-mobile-nav.active {
    display: block;
  }

  .button-mobile-nav ul {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }

  .button-mobile-nav li {
    padding: 0.5rem 0;
    color: var(--blue-900);
    cursor: pointer;
    font-weight: 500;
    text-transform: none;
  }

  .button-mobile-nav li:hover {
    font-weight: 700;
  }
}

.arrow.active {
  transform: rotate(180deg);
}

.infrastructure {
  padding: 4rem 2rem;
  border-radius: 0 100px 0 100px;
  min-height: 40vh;
  background: url("../images/bg-pattern-circles.svg"), var(--gradient-purple);
  background-repeat: no-repeat no-repeat;
  background-position:
    left -10vw top -45vh,
    center;
  background-size: 1000px, cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 5rem;
}

.infrastructure-media {
  position: relative;
}

.infrastructure-phone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  width: 620px;
  z-index: 2;
}

@media (max-width: 1300px) {
  .infrastructure-phone {
    width: 100%;
  }
}

.infrastructure-text {
  color: var(--white);
  max-width: 600px;
}

.infrastructure-text h2 {
  font-size: 2.5rem;
  max-width: 800px;
  margin-bottom: 10px;
}

.infrastructure-text p {
  margin-top: 10px;
  line-height: 2rem;
  font-size: 1.2rem;
}

.tools-features {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 2rem;
}

.tools-features-image {
  min-width: 300px;
}

.tools-features-image img {
  width: 100%;
}

.texts {
  max-width: 600px;
}

.tools-feature-text h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--blue-900);
}

.tools-feature-text p {
  color: var(--gray-600);
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer {
  background-color: var(--gray-900);
  border-radius: 0 100px 0 0;
  padding: 4rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-logo {
  text-align: center;
}

.list ul {
  display: flex;
  flex-direction: column;
}

.list p {
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
  color: var(--white);
}

.list a {
  color: var(--weak-gray);
  font-size: 1.1rem;
}

.list a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hero {
    background:
      url("../images/bg-pattern-intro-mobile.svg"), var(--gradient-orange-red);
    background-position: 35% 35%;
  }

  .header-nav ul {
    display: none;
  }

  .header-buttons {
    display: none;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .intro-title {
    font-size: 2rem;
  }
  .features {
    flex-direction: column;
    text-align: center;
  }

  .features-image {
    order: -1;
  }

  .features-image img {
    margin-left: 0;
    max-width: 100%;
  }

  .feature-text h2 {
    font-size: 1.8rem;
  }

  .tools-features {
    flex-direction: column;
    text-align: center;
  }

  .tools-feature-text h2 {
    font-size: 1.8rem;
  }

  .infrastructure {
    grid-template-columns: 1fr;
    overflow: hidden;
    background-position:
      top center,
      center;
  }

  .infrastructure-media {
    position: static;
  }

  .infrastructure-phone {
    position: static;
    max-width: 100%;
    width: 460px;
    margin: 0 auto;
    display: block;
    transform: translateY(-10px);
  }

  .infrastructure-text {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .footer {
    padding: 0;
  }

  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
  }

  .list ul {
    margin-bottom: 2rem;
    gap: 5px;
  }

  .list p {
    margin-bottom: 2rem;
  }
}

.tools {
  margin-top: 10rem;
  min-height: 100vh;
}
