:root {
  /* Primary */
  --red-500: hsl(356, 100%, 66%);
  --red-400: hsl(355, 100%, 74%);
  --blue-900: hsl(208, 49%, 24%);

  /* Neutral */
  --white: hsl(0, 100%, 100%);
  --weak-gray: hsl(0, 0%, 85%);
  --gray-600: hsl(207, 10%, 54%);
  --gray-900: hsl(240, 10%, 16%);

  /* Gradient - Intro / CTA / Mobile Nav */
  --gradient-orange-red: linear-gradient(to right, #ff8f70, #ff3d59);

  /* Gradient - Body */
  --gradient-purple: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 31%)
  );
}
